body {
  font-family: "Noto Sans", sans-serif;
  color: #353945;
  font-size: 16px;
  line-height: 1.5;
  margin: 1rem auto;
  max-width: 840px;
  text-align: center;
}

/* phone or baseline view--------------*/

main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

main section {
  margin: 0.5rem 0;
  border: 2px solid #353945;
  border-radius: 5px;
}

main section picture img {
  margin: 0.5rem;
  width: 90%;
  height: auto;
  border: 2px solid #353945;
}

header,
footer {
  background-color: #89b0ae;
  color: #353945;
  text-align: center;
}

header {
  padding: 0.5rem;
  font-size: 24px;
}

h1 {
  font-family: "Trocchi", serif;
  margin: 0;
}

h2 {
  margin: 0.5rem;
}

h3 {
  margin: 1rem;
}

section h2 {
  margin: 0;
  padding: 0;
  display: block;
  color: #353945;
  background-color: #aed4d2;
  border-radius: 5px;
}

footer {
  font-family: "Trocchi", serif;
  background-color: #89b0ae;
  padding: 1.25rem;
}

img {
  margin: 0 auto;
  border: 2px solid #353945;
}

a {
  color: #353945;
}

p {
  text-align: left;
  margin: 1rem;
}
