/* phone or baseline view--------------*/

/*----------- BODY --------------*/

body {
  font-family: "Lato", "sans-serif";
  color: #12395a;
  background-color: #f0eef1;
  font-size: 16px;
  line-height: 1.5;
  margin: 1rem auto;
  padding: 1rem;
}
/*----------- HEADER --------------*/

header {
  padding: 0;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header img {
  width: 200px;
}
.motto h2 {
  margin: 0.5rem 0;
}

/*----------- NAVIGATION --------------*/
nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #ffffff;
}

.hamButton {
  display: block;
  width: 100%;
  text-align: center;
}

.hamButton:hover {
  background-color: #d09d06;
}
nav {
  background-color: #01395a;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
nav a {
  color: #ffffff;
  font-size: 1.5rem;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  border-top: 1px solid #bfbdc1;
}

nav ul li a:hover {
  background-color: #84d2e1;
  color: #01395a;
  border: 3px solid #01395a;
}

nav ul li .active {
  color: #d09d06;
  font-weight: bold;
}

nav ul.hide {
  display: none;
}

/*----------- MAIN --------------*/
h1 {
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem 0;
}

h2 {
  color: #d09d06;
}
main {
  margin: 0 auto;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 960px;
}
main h2 {
  text-align: center;
  font-size: 2rem;
}
figcaption {
  text-align: center;
}
figcaption a {
  color: #01395a;
  font-size: 0.9rem;
}

/* ------Index page ------ */

.alert {
  display: block;
  background: radial-gradient(#ffffff, #D09D06);
  border: 1px solid #01395a;
  font-size: 1.2rem;
  padding: 0.7rem;
  box-shadow: 0 0 30px #777;
  color: #01395a;
  margin: 0.5rem 0;
  text-align: center;
}
.alert p {
  margin: 0;
}
.closeButton {
  color: #034972;
  padding: .5rem;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
  justify-self: right;
}
.closeButton:hover {
  background-color: #D09D06;
  border: 1px solid #01395a;
}

.callToAction {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  background: radial-gradient(#ffffff, #84d2e1);
  border: 1px solid #01395a;
  padding: 0.7rem;
  box-shadow: 0 0 30px #777;
  color: #01395a;
  max-height: 100%;
  margin: 0.5rem 0;
}

.callToAction a {
  color: #01395a;
  display: block;
  text-decoration: none;
}
.callToAction:hover {
  font-size: 2rem;
}
.herodiv {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  position: relative;
}
.mtRainierHero {
  max-width: 100%;
  box-shadow: 0 0 30px #777;
  border: 1px solid #01395a;
}
.weatherDiv {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}
.summaryDiv {
  grid-row: 1/2;
  margin: 0.5rem 0;
}

.weathersummary {
  display: flex;
  background: radial-gradient(#ffffff, #84d2e1);
  border: 1px solid #01395a;
  padding: 0.4rem 0.4rem 0.2rem 0.4rem;
  box-shadow: 0 0 30px #777;
  opacity: 0.9;
  color: #01395a;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  font-size: 0.9rem;
}
.weatherH3 {
  margin: 0;
  grid-column: 1/ 3;
  text-align: center;
  font-size: 1.5rem;
}
.leftSide {
  margin: 0;
  grid-row: 2/3;
  text-align: right;
}
.rightSide {
  margin: 0;
  text-align: left;
}

.forecast3day caption {
  background: radial-gradient(#ffffff, #84d2e1);
  color: #01395a;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 1px solid #01395a;
}
.forecast3day {
  grid-row: 2/3;
  width: 350px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.forecast3day th {
  background-color: #84d2e1;
}
table,
th,
td {
  border: 1px solid #01395a;
  border-collapse: collapse;
  padding: 1rem;
}

table {
  box-shadow: 0 0 30px #777;
}
.events {
  width: 350px;
  margin: 0 auto;
  bottom: 20px;
  right: 20px;
  background: radial-gradient(#ffffff, #D09D06);
  border: 1px solid #01395a;
  box-shadow: 0 0 30px #777;
  opacity: 0.85;
  color: #01395a;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}
.events h2 {
  text-decoration: underline;
}
.events a {
  color: #01395a;
}
.companyAds {
  width: 350px;
  margin: 0 auto;
}
.companyAds section {
  border: 1px solid #01395a;
  box-shadow: 0 0 30px #777;
  margin: 0.5rem 0;
  text-align: center;
}
.companyAds section article p {
  display: none;
}
.chamberPurpose {
  border: 1px solid #01395a;
  box-shadow: 0 0 30px #777;
  text-align: center;
}
.missionimg {
  display: flex;
  margin: 0 auto;
}
.chamberPurpose picture a {
  color: #01395a;
  font-size: 90%;
}
a {
  text-decoration: none;
}
article {
  background-color: #ffffff;
  color: #01395a;
  padding: 0.5rem;
}

/* ------Covington page ------ */

.covdemo {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.covdemo img {
  border: 1px solid #01395a;
  box-shadow: 0 0 30px #777;
}
.covevents {
  width: 350px;
  margin: .5rem auto;
  bottom: 20px;
  right: 20px;
  background: radial-gradient(#84d2e1, #4bb1c5);
  border: 1px solid #01395a;
  box-shadow: 0 0 30px #777;
  opacity: 0.9;
  color: #01395a;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  padding: 0 .5rem;
}
.covevents h2 a {
  color: white;
  font-size: 2rem;
  text-decoration: underline;
}
.covevents a {
  color: #01395a;
}
.covevents a:hover {
  color: white;
}

video{
  max-width: 100%;
  margin: .5rem auto;
  border: 2px solid #01395a;
  border-radius: 2%;
}
/* ------Join page ------ */
.handshake {
  margin: auto;
}
.handshake img {
  border: 1px solid #01395a;
  box-shadow: 0 0 30px #777;
}
.handshake a {
  color: #01395a;
  display: block;
  text-align: center;
}
form {
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
}
  
form fieldset {
  margin: 0.5rem;
  border: 2px solid #01395a;
  border-radius: 5px;
  padding: 0.5rem 2%;
}  
form legend {
  color: #01395a;
  margin: 0 1rem;
  padding: 0 0.5rem;
  font-size: 1.5rem;
}
form label.contactForm,
form div {
  display: block;
  padding-top: 1rem;
}
form label.contactForm input,
form label.contactForm select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 5px;
  padding: 0.75rem;
  width: 100%;
  max-width: 20rem;
} 
form label.contactForm input,
form label.contactForm datalist,
form label #memberLevel {
  display: block;
  padding: 0.75rem 0;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  max-width: 20rem;
  margin: 0 0 0.5rem 0;
}
form input.formButton {
  border: 1px solid #01395a;
  background-color: #D09D06;
  color: #01395a;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
}
.formButtonDiv {
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
}
.formButton:hover {
  color:#ffffff;
  background-color: #01395a;
}

.levelsh3 {
  padding: .5rem;
}
.levelsh3 h3{
  margin: 0;
}
.comments textarea {
  display: block;
  width: 98%;
  height: 3rem;
  max-width: 20rem;
  border-radius: 5px;
}

form label.contactForm input:required {
  border-bottom: #ff5c3e solid 3px;
}
form label.contactForm input:required:valid {
  border-bottom: none;
}

/* ------Directory page ------ */


#gridButton {
  display: none;
}
#listButton {
  display: none;
}
.cards {
  width: 350px;
  margin: 0 auto;
}
.cards section {
  border: 1px solid #01395a;
  box-shadow: 0 0 30px #777;
  text-align: center;
  margin: 0.5rem 0;
}
.cards h2 {
  font-size: 150%;
}
/* ------Contact Page------ */

.covcontact {
  background-color: #ffffff;
  color: #01395a;
  font-size: large;
  text-align: center;
  border: 1px solid #01395a;
  margin: .5rem;
}
.boarddiv {
  margin: 0 auto;
  text-align: center;
}
.board {
  max-width: 100%;
  border: 1px solid #01395a;
  box-shadow: 0 0 30px #777;
}
/*----------- FOOTER --------------*/

.covSocial img {
  max-width: 35px;
  padding: 0.5rem;
}
footer {
  background-color: #01395a;
  color: #ffffff;
  text-align: center;
  padding: 0.75rem;
}

footer a {
  color: #ffffff;
}

.contact {
  background-color: #ffffff;
  color: #01395a;
  font-size: large;
  text-align: center;
  max-width: 960px;
  margin: auto;
  border: 2px solid #01395a;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
