/*----------- BODY --------------*/

body {
  font-family: "comfortaa", "Cursive";
  color: #bfbdc1;
  background-color: #37323e;
  font-size: 18px;
  line-height: 1.5;
  margin: 1rem auto;
  padding: 1rem;
}
/*----------- HEADER --------------*/
/* phone or baseline view--------------*/

header {
  padding: 0;
  margin: 0;
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header img {
  width: 200px;
}
.motto {
  margin: 0.8rem 0;
}

/*----------- NAVIGATION --------------*/
nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #ffffff;
}
.hamButton {
  text-align: center;
}
nav {
  background-color: #5e5c63;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
nav a {
  color: #ffffff;
  font-size: 1.5rem;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  border-top: 1px solid #bfbdc1;
}

nav ul li a:hover {
  background-color: #de9e36;
  color: #37323e;
}

nav ul li .active {
  color: #f8ba57;
  font-weight: bold;
}

nav ul.hide {
  display: none;
}
.active {
  color: #de9e36;
}
/*----------- MAIN --------------*/
h1 {
  font-family: "Hammersmith One", sans-serif;
}

h2 {
  color: #de9e36;
}
main {
  margin: 0 auto;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 960px;
}
main h2 {
  font-size: 2rem;
  text-align: center;
}
.fridayAnnounce {
  display: block;
  text-align: center;
  background: radial-gradient(#ffffff, #de9e36);
  border: 1px solid #37323e;
  padding: 0.7rem;
  box-shadow: 0 0 30px #777;
  color: #070708;
  max-height: 100%;
}
.herodiv {
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  border: 1px solid #37323e;
}
.prestonHero {
  max-width: 100%;
}

.weathersummary {
  display: flex;
  top: 20px;
  left: 20px;
  background: radial-gradient(#ffffff, #de9e36);
  border: 1px solid #37323e;
  padding: 0.7rem;
  box-shadow: 0 0 30px #777;
  opacity: 0.9;
  color: #37323e;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  font-size: 0.9rem;
}
.weatherH3 {
  margin: 0;
  grid-column: 1/ 3;
  text-align: center;
  text-decoration: underline;
}
.leftSide {
  margin: 0;
  grid-row: 2/3;
  text-align: right;
}
.rightSide {
  margin: 0;
  text-align: left;
}

.articleBox {
  background-color: #bfbdc1;
  color: #37323e;
  padding: 0.5rem;
}

.article img {
  max-width: 75%;
  display: block;
  margin: 0 auto;
  border: 1px solid #37323e;
  box-shadow: 0 0 30px #777;
}
article {
  background-color: #bfbdc1;
  color: #37323e;
  padding: 0.5rem;
}

article a {
  color: #37323e;
  font-size: 0.9rem;
}
.forcast5day {
  display: none;
  margin: 0 0 0.5rem 0;
  padding: 0;
}

/* -------------GALLERY PAGE--------------- */
#galleryDiv {
  display: grid;
  grid-template-columns: 1fr;
}
figure {
  padding: 0.5em;
  grid-column: auto;
  margin: 0 auto;
}
figure img {
  max-width: 100%;
  filter: blur(0em);
  transition: filter 0.5s;
}
figure img[data-src] {
  filter: blur(5px);
}

figcaption {
  text-align: center;
}
/* ---------------------------- */

/* -------------STORM CENTER PAGE--------------- */
form fieldset {
  margin: 0.5rem;
  border: 2px solid #de9e36;
  border-radius: 5px;
  padding: 0.5rem 2%;
}

form legend {
  color: #bfbdc1;
  margin: 0 1rem;
  padding: 0 0.5rem;
  font-size: 1.5rem;
}
form label.contactForm,
form div {
  display: block;
  padding-top: 1rem;
}
form label.contactForm input,
form label.contactForm select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 5px;
  padding: 0.75rem;
  width: 100%;
  max-width: 20rem;
}
form label.stormInfo input,
form label.stormInfo datalist,
form label #stormRegion {
  display: block;
  padding: 0.75rem 0;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  max-width: 20rem;
  margin: 0 0 1.5rem 0;
}
#ratingvalue {
  color: #de9e36;
  font-size: 1.5rem;
}
input[type="range"] {
  color: #bfbdc1;
  display: block;
  width: 100%;
  max-width: 20rem;
  border-radius: 5px;
}

form input.formButton {
  border: none;
  background-color: #de9e36;
  color: #37323e;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  margin: 2rem 0 2rem 2rem;
  width: 96%;
  max-width: 20rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.danger {
  display: block;
  padding: 0.2rem;
}
.comments textarea {
  display: block;
  width: 100%;
  height: 3rem;
  max-width: 20rem;
  border-radius: 5px;
}

form label.contactForm input:required {
  border-bottom: red solid 3px;
}
form label.contactForm input:required:valid {
  border-bottom: none;
}

.stormContact {
  background-color: #828089;
  color: #ffffff;
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  border: 2px solid #070708;
}

/* ------------Index---------------- */

section.indexCards {
  margin: 0 auto;
}
article.indexCards {
  max-width: 600px;
  margin: 0.5rem;
  align-items: center;
}
article.indexCards p {
  margin: 0.5rem;
  text-align: center;
}
article.indexCards h2 {
  color: #37323e;
}
article.indexCards img[data-src] {
  filter: blur(0.2em);
}
article.indexCards img {
  border: 1px solid #333;
  padding: 2px;
  display: block;
  filter: blur(0em);
  transition: filter 0.5s;
  margin: 0 auto;
  max-width: 100%;
}

/*----------- FOOTER --------------*/
.address {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: center;
}

.address a {
  text-decoration: none;
}

.social img {
  max-width: 35px;
  padding: 0.5rem;
}
.stormSocial img {
  max-width: 35px;
  padding: 0.5rem;
}
footer {
  background-color: #5e5c63;
  color: #ffffff;
  text-align: center;
  padding: 0.75rem;
}

footer a {
  color: #ffffff;
}

.contact {
  background-color: #828089;
  color: #ffffff;
  text-align: center;
  max-width: 960px;
  margin: auto;
  border: 2px solid #070708;
}

.contactPara {
  display: block;
}
.contact a {
  color: #f8ba57;
  font-weight: bold;
}

.mapImage {
  display: none;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
