body {
  font-family: "comfortaa", "Cursive";
  color: #bfbdc1;
  background-color: #37323e;
  font-size: 16px;
  line-height: 1.5;
  margin: 1rem auto;
  max-width: 840px;
  padding: 1rem;
}

/* phone or baseline view--------------*/

main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

nav a {
  font-family: "Hammersmith One";
  color: #2bbade;
  text-decoration: none;
  font-size: 1.3rem;
  display: block;
  padding: 0.5rem;
}
nav ul {
  list-style-type: none;
  text-align: center;
}

nav a:hover {
  background-color: #de9e36;
  color: #37323e;
}

footer {
  background-color: #6d6a75;
  color: #ffffff;
  text-align: center;
  padding: 0.75rem;
}
footer a {
  color: #ffffff;
}

header {
  padding: 0.5rem;
  font-size: 20px;
  text-align: center;
}

h1 {
  font-family: "Hammersmith One", sans-serif;
}
h2 {
  color: #de9e36;
}

p,
picture {
  padding: 1.5rem;
}

.desktoplogo {
  display: none;
}

.logofont {
  font-family: "Righteous";
  font-size: 2rem;
}
